@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        /*Wczytanie odpowiednich zmiennych stylu*/
        :root {
            --kolor: @ViewBag.kolor;
            --animacja: @ViewBag.animacja;
            --czasanimacji: @ViewBag.czasanimacji;
            --timing: @ViewBag.timing;
        }
    </style>
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>Quiz - @ViewBag.nazwa</title>
</head>
<body class="tlo_ogolne" style="text-align: center; margin: auto">
    <div class="logo_ogolne animate">
        <img src="~/Images/@(ViewBag.nazwa.Trim() + ".png")" id="obraz">
    </div>
    <div class="wynik">
        <p> Wynik: @ViewBag.wynik na 5 punktów, czas: @(ViewBag.czas.ToString()+"s")</p>
    </div>

    <div class="emotka">
        @if (ViewBag.wynik == 5 && ViewBag.czas <= 5) //Ukryta funkcjonaloność w postaci złotej emotki za uzyskanie max punktów w 5 lub mniej sekund
        {
            <img src="~/Faces/6.png">
        }
        else
        {
            <img src="~/Faces/@ViewBag.nazwa/@(ViewBag.wynik + ".png")">
        }
    </div>

    <div class="zapis_wyniku">
        <div class="div_mini">
            Podaj nick:
        </div>
        <div class="div_pole">
            <input class="pole" id="nick" oninput="check(event)" maxlength="12" spellcheck="false" autocomplete="off" />
        </div>
        <div id="zapisz" class="div_mini" onclick="Zapisz()">
            Zapisz wynik!
        </div>
    </div>

    <div class="div_rzad2">
        <div class="div_rzad2_napis">
            <p class="napis_poboczny">Menu główne</p>
        </div>
        <div class="div_rzad2_napis">
            <p class="napis_poboczny">Ranking</p>
        </div>
    </div>

    <div class="div_rzad2">
        <div class="logo_tlo_mniejsze2" onclick="Home()">
            <img src="~/Images/med.png">
        </div>
        <div class="logo_tlo_mniejsze2" onclick="Ranking()">
            <img src="~/Images/chlopek.png">
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    //Funkcja blokująca wpisywanie znaków specjalnych w nicku użytkownika
    function check(event) {
        var input = event.target;
        var inputValue = input.value;
        input.value = inputValue.replace(/[^a-zA-Z0-9ąćęłńóśźżĄĆĘŁŃÓŚŹŻ]/g, "");
    }

    //Funkcja przenosząca do strony głównej
    function Home() {
        window.location.href = '/Home/MainPage';
    }

    //Funkcja przenosząca do strony z rankingami
    function Ranking() {
        window.location.href = '/Home/RankingPick';
    }

    //Funkcja zapisująca wynik użytkownika w bazie danych
    function Zapisz() {
        //Pobranie nicku użytkownika
        var nick = document.getElementById("nick").value;
        //Zapisanie czasu jako string (tutaj miałem jakiś problem z uzyskaniem wartości zmiennoprzecinkowej, więc tu jest string potem w kontrolerze zmiana na double i wysłanie do bazy)
        czas = "@ViewBag.czas";

        //Zablokowanie wysyłania pustego pseudonimu
        if (nick === "") {
            //Wyświetlnie informacji w przycisku o złym działaniu użytkownika na 2,5 sekundy
            document.getElementById('zapisz').innerHTML = "&#10005; Pusty nick!";
            let countdown = setInterval(function () {
                //Przywrócenie starego napisu
                document.getElementById('zapisz').innerHTML = "Zapisz wynik!";
                clearInterval(countdown);
            }, 2500);
        }
        else {
            //Wysłanie wyniku do bazy danych
            $.ajax({
                method: 'POST',
                data: { nazwa: "@ViewBag.nazwa", pseudonim: nick, wynik: @ViewBag.wynik , czas: czas },
                url: '/Home/WyslijWyniki', //Nazwa metody w kontrolerze
                success: function (result) {
                    //Wyłączenie możliwości ponownego kliknięcia w przycisk i dodanie komunikatu w przycisku
                    document.getElementById('zapisz').classList.remove('div_mini');
                    document.getElementById('zapisz').classList.add('div_mini_off');
                    document.getElementById('zapisz').innerHTML = "&#10004; Zapisano!";
                },
            });
        }
    }
</script>