@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        :root {
            --kolor: @ViewBag.kolor;
            --animacja: @ViewBag.animacja;
            --czasanimacji: @ViewBag.czasanimacji;
            --timing: @ViewBag.timing;
        }
    </style>
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>Quiz - @ViewBag.nazwa</title>
</head>
<body class="tlo_ogolne" style="text-align: center; margin: auto">
    <div class="logo_ogolne animate">
        <img src="~/Images/@(ViewBag.nazwa.Trim() + ".png")" id="obraz">
    </div>
    <div class="wynik">
        <p> Wynik: @ViewBag.wynik na 5 punktów, czas: @(ViewBag.czas.ToString()+"s")</p>
    </div>

    <div class="emotka">
        <img src="~/Faces/@ViewBag.nazwa/@(ViewBag.wynik + ".png")">
    </div>

    <div class="zapis_wyniku">
        <div class="div_mini">
            Podaj nick:
        </div>
        <div class="div_pole">
            <input class="pole" id="nick" oninput="check(event)" maxlength="12" spellcheck="false" autocomplete="off"/>
        </div>
        <div id="zapisz" class="div_mini" onclick="Zapisz()">
            Zapisz wynik!
        </div>
    </div>

    <div class="div_rzad2">
        <div class="div_rzad2_napis">
            <p class="napis_poboczny">Menu główne</p>
        </div>
        <div class="div_rzad2_napis">
            <p class="napis_poboczny">Ranking</p>
        </div>
    </div>

    <div class="div_rzad2">
        <div class="logo_tlo_mniejsze2" onclick="Home()">
            <img src="~/Images/med.png">
        </div>
        <div class="logo_tlo_mniejsze2" onclick="Ranking()">
            <img src="~/Images/chlopek.png">
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    var nick = '';

    function check(event) {
        var input = event.target;
        var inputValue = input.value;
        input.value = inputValue.replace(/[^a-zA-Z0-9ąćęłńóśźżĄĆĘŁŃÓŚŹŻ]/g, "");
    }

    function Home() {
        window.location.href = '/Home/MainPage';
    }

    function Ranking() {
        window.location.href = '/Home/RankingPick';
    }

    function Zapisz() {

        nick = document.getElementById("nick").value;
        czas = "@ViewBag.czas";

        if (nick === "") {
            alert('Proszę podaj nick!')
        }
        else {
            $.ajax({
                method: 'POST',
                data: { nazwa: "@ViewBag.nazwa", pseudonim: nick, wynik: @ViewBag.wynik , czas: czas },
                url: '/Home/WyslijWyniki',
                success: function (result) {
                    alert('Zapisano!')
                    document.getElementById('zapisz').classList.remove('div_mini');
                    document.getElementById('zapisz').classList.add('div_mini_off');
                },
            });
        }
    }
</script>