@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        :root {
            --kolor: @ViewBag.kolor;
            --animacja: @ViewBag.animacja;
            --czasanimacji: @ViewBag.czasanimacji;
            --timing: @ViewBag.timing;
        }
    </style>
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>Quiz - @ViewBag.nazwa</title>
</head>
<body class="tlo_ogolne" style="text-align: center; margin: 0 auto">
    <div class="logo_ogolne animate">
        <img src="~/Images/@(ViewBag.nazwa.Trim() + ".png")" id="obraz">
    </div>
    <div class="wynik">
        <p> Twój wynik to: </p>
        <p> @ViewBag.wynik na 5 punktów, czas: @(ViewBag.czas.ToString()+"s")</p>
    </div>

    <div class="emotka">
        <img src="~/Faces/@ViewBag.nazwa/@(ViewBag.wynik + ".png")">
    </div>
</body>
</html>

